<!DOCTYPE html>
<html lang="en">
  {% extends "sidebar.html" %}

  {% block content %}
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Solar Car Telemetry</title>

  <!-- Custom fonts for this template-->
  <link href="/node_modules/startbootstrap-sb-admin-2/vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
    type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{{ url_for('static', filename='css/sb-admin-2.css') }}" rel="stylesheet">

</head>


<!-- Main Content -->
<div id="content">

  <!-- Topbar -->
  <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <img src="{{ url_for('static', filename='images/SolarCarTeamLogo.png') }}" height=80% />



  </nav>
  <!-- End of Topbar -->

  <!-- Begin Page Content -->
  <div class=row>
    <!-- Area Chart -->
    <div class="col-xl-11 col-lg-11 ml-4 mb-4">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Battery Modules</h6>
          <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
          </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <table>
            <tr>
              <td id='module'> 0.00</td>
              <td id='module' rowspan=1> 0.00</td>
              <td id='module' background='/static/images/layout-module.png'>0.00</td>


            </tr>
            <tr>
              <td id='module'> 0.00</td>
              <td id='module'> 0.00</td>
              <td id='module'> 0.00</td>

            </tr>
            <tr>
              <td id='module'> 0.00</td>
              <td id='module'> 0.00</td>
              <td id='module'> 0.00</td>

            </tr>
            <tr>
              <td id='module'> 0.00</td>
              <td id='module'> 0.00</td>
              <td id='module'> 0.00</td>

            </tr>
            <tr>
              <td id='module'> 0.00</td>
              <td id='module'> 0.00</td>
            </tr>
            <tr>
              <td id='module'> 0.00</td>
              <td id='module'> 0.00</td>
            </tr>
            <tr>
              <td class="mrow"></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td id='module'> 0.00</td>
              <td id='module'> 0.00</td>

            </tr>
            <tr>
              <td id='module'> 0.00</td>
              <td id='module'> 0.00</td>
            </tr>
            <tr>
              <td id='module'> 0.00</td>
              <td id='module'> 0.00</td>
              <td id='module'> 0.00</td>

            </tr>
            <tr>
              <td id='module'> 0.00</td>
              <td id='module'> 0.00</td>
              <td id='module'> 0.00</td>

            </tr>
            <tr>
              <td id='module'> 0.00</td>
              <td id='module'> 0.00</td>
              <td id='module'> 0.00</td>

            </tr>
            <tr>
              <td id='module'> 0.00</td>
              <td id='module'> 0.00</td>
              <td id='module'> 0.00</td>

            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!--
        <div class="container-fluid">
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Live Cell Data</h1>
          </div>
          <table class="table table-bordered table-dark">
            <thead>
              <tr>
                <th scope="col">Module #</th>
                <th scope="col">Cell 1</th>
                <th scope="col">Cell 2</th>
                <th scope="col">Cell 3</th>
                <th scope="col">Cell 4</th>
                <th scope="col">Cell 5</th>
                <th scope="col">Cell 6</th>
                <th scope="col">Cell 7</th>
                <th scope="col">Cell 8</th>
                <th scope="col">Cell 9</th>
                <th scope="col">Cell 10</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td id="c1-1">0.0</td>
                <td id="c1-2">0.0</td>
                <td id="c1-3">0.0</td>
                <td id="c1-4">0.0</td>
                <td id="c1-5">0.0</td>
                <td id="c1-6">0.0</td>
                <td id="c1-7">0.0</td>
                <td id="c1-8">0.0</td>
                <td id="c1-9">0.0</td>
                <td id="c1-10">0.0</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td id="c2-1">0.0</td>
                <td id="c2-2">0.0</td>
                <td id="c2-3">0.0</td>
                <td id="c2-4">0.0</td>
                <td id="c2-5">0.0</td>
                <td id="c2-6">0.0</td>
                <td id="c2-7">0.0</td>
                <td id="c2-8">0.0</td>
                <td id="c2-9">0.0</td>
                <td id="c2-10">0.0</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td id="c3-1">0.0</td>
                <td id="c3-2">0.0</td>
                <td id="c3-3">0.0</td>
                <td id="c3-4">0.0</td>
                <td id="c3-5">0.0</td>
                <td id="c3-6">0.0</td>
                <td id="c3-7">0.0</td>
                <td id="c3-8">0.0</td>
                <td id="c3-9">0.0</td>
                <td id="c3-10">0.0</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td id="c4-1">0.0</td>
                <td id="c4-2">0.0</td>
                <td id="c4-3">0.0</td>
                <td id="c4-4">0.0</td>
                <td id="c4-5">0.0</td>
                <td id="c4-6">0.0</td>
                <td id="c4-7">0.0</td>
                <td id="c4-8">0.0</td>
                <td id="c4-9">0.0</td>
                <td id="c4-10">0.0</td>
              </tr>
            </tbody>
          </table>
        </div>
      -->
  <!--Live Parameter Data-->
  <table class="table table-bordered table-dark">
    <thead>
      <tr>
        <th scope="col">Parameter</th>
        <th scope="col">Value</th>
        <th scope="col">Unit</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Average Battery Temperature</th>
        <td id=bat_avg_temp>0.0</td>
        <td>C</td>
      </tr>
      <tr>
        <th scope="row">Pack state of charge</th>
        <td id=soc>0.0</td>
        <td>%</td>
      </tr>
      <tr>
        <th scope="row">Pack discharge current limit</th>
        <td id=discharge_limit>0.0</td>
        <td>A</td>
      </tr>
      <tr>
        <th scope="row">Pack charge current limit</th>
        <td id=charge_limit>0.0</td>
        <td>A</td>
      </tr>
      <tr>
        <th scope="row">Lowest cell voltage</th>
        <td id=cell_voltage_lowest>0.0</td>
        <td>V</td>
      </tr>
      <tr>
        <th scope="row">Highest cell voltage</th>
        <td id=cell_voltage_highest>0.0</td>
        <td>V</td>
      </tr>
      <tr>
        <th scope="row">Highest battery temperature</th>
        <td id=bat_high_temp>0.0</td>
        <td>C</td>
      </tr>
      <tr>
        <th scope="row">Lowest battery temperature</th>
        <td id=bat_low_temp>0.0</td>
        <td>C</td>
      </tr>
      <tr>
        <th scope="row">Pack amperage (current)</th>
        <td id=pack_amperage>0.0</td>
        <td>A</td>
      </tr>
      <tr>
        <th scope="row">Pack voltage</th>
        <td id=pack_voltage>0.0</td>
        <td>V</td>
      </tr>
      <tr>
        <th scope="row">Pack amphours</th>
        <td id=pack_amphours>0.0</td>
        <td>Ahr</td>
      </tr>
      <tr>
        <th scope="row">12v supply</th>
        <td id=twelveV_supply>0.0</td>
        <td>V</td>
      </tr>
      <tr>
        <th scope="row">Run time</th>
        <td id=runTime>0.0</td>
        <td>Sec</td>
      </tr>

    </tbody>
  </table>
  <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

<!-- Footer -->
<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Copyright &copy; UVA Solar Car 2019</span>
    </div>
  </div>
</footer>
<!-- End of Footer -->
<!-- Page level plugins -->
<script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/soc-chart.js') }}"></script>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
{% endblock %}

</html>