<!DOCTYPE html>
<html lang="en">
{% extends "sidebar.html" %}

{% block content %}

<!-- Main Content -->
<div id="content">

  <!-- Topbar -->
  <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <img src="{{ url_for('static', filename='images/SolarCarTeamLogo.png') }}" height=80% />



  </nav>
  <!-- End of Topbar -->
  <!-- Begin Page Content -->
  <div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Telemetry Dashboard</h1>
      <span>
        <!-- <button type="button" class="btn btn-success mb-0 {% if not recording %} d-none {% endif %}" data-toggle="modal" data-target="#startModal" id='stopRecordingBtn'>Recording</button>
        <button type="button" class="btn btn-primary mb-0 {% if recording %} d-none {% endif %}" data-toggle="modal" data-target="#startModal" id='startRecordingBtn'>Start Recording</button> -->
        <!-- <button type="button" class="btn btn-primary mb-0" data-toggle="modal" data-target="#chooseRun" id='loadRunBtn'>Load Run</button> -->
      </span>
    </div>

    <!-- Content Row -->
    <div class="row">
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Status
                  <span class="badge badge-pill badge-danger">!</span>
                </div>
                <div class="text-xs text-gray-600 text-uppercase mb-1">BMS
                  <span class="badge badge-pill badge-success">!</span>
                </div>

              </div>
              <div class="col-auto">
                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- MPH Card -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-secondary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">MPH</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800" id='mph'>0.00</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-calendar fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- RPM Card -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-secondary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">RPM</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800" id='rpm'>0.00</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Miles Card -->
      <div class="col-xl-3 col-md-5 mb-4">
        <div class="card border-left-secondary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Miles</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800" id='miles'>0.00</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- Content Row -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-secondary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">WARNINGS</div>
                <div class = scroll>
                <ul id = "warning">
                </ul>
              </div>
              <div class="col-auto">
                <i class="fas fa-calendar fa-2x text-gray-300"></i>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Area Chart -->
      <div class="col-xl-6 col-lg-6 ml-2 mb-4">
        <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">State of Charge</h6>
            <div class="dropdown no-arrow">
              <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Dropdown Header:</div>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>
          <!-- Card Body -->
          <div class="card-body">
            <canvas id="socChart"></canvas>
          </div>
        </div>
      </div>



        <!-- Approach -->
        <div class="col-xl-4 col-lg-4 ml-2 mb-4">
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Battery</h6>
            </div>
            <div class="card-body">
              <div class="row">
                <div class='col'>
                  <div class="h8 mb-2 font-weight-bold text-primary">Pack SOC: </div>

                </div>
                <div class='col'>
                  <div class='ml-2 mb-2 font-weight-bold text-gray-600' id='packSOC'>79.5%</div>
                </div>
              </div>

              <hr class="sidebar-divider">
              <div class="row">
                <div class='col'>
                  <div class="h8 mb-2 font-weight-bold text-primary">Pack Voltage: </div>
                  <div class="h8 mb-2 font-weight-bold text-gray-800">Min: </div>
                  <div class="h8 mb-2 font-weight-bold text-gray-800">Max: </div>

                </div>
                <div class='col'>
                  <div class='ml-2 mb-2 font-weight-bold text-gray-600' id='voltage'>130.8V</div>
                  <div class='ml-2 mb-2 text-gray-600' id='minVoltage'>0V</div>
                  <div class='ml-2 mb-2 text-gray-600' id='maxVoltage'> 130.8V</div>
                </div>
              </div>

              <hr class="sidebar-divider">

              <div class="row">
                <div class='col'>
                  <div class="h8 mb-2 font-weight-bold text-primary">Pack Current: </div>
                  <div class="h8 mb-2 font-weight-bold text-gray-800">Max: </div>

                </div>
                <div class='col'>
                  <div class='ml-2 mb-2 font-weight-bold text-gray-600' id='current'>0A</div>
                  <div class='ml-2 mb-2 text-gray-600' id='maxCurrent'> 0A </div>
                </div>
              </div>

              <hr class="sidebar-divider">

              <div class="row">
                <div class='col'>
                  <div class="h8 mb-2 font-weight-bold text-primary">Temperature: </div>
                  <div class="h8 mb-0 font-weight-bold text-gray-800">Max: </div>

                </div>
                <div class='col'>
                  <div class='ml-2 mb-2 font-weight-bold text-gray-600' id='temperature'>27 &degC</div>
                  <div class='ml-2 mb-0 text-gray-600' id='maxTemperature'> 33 &degC</div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <!-- Content Row -->
      <div class="row"></div>


    </div>
    <!-- /.container-fluid -->

  </div>
  <!-- End of Main Content -->

  <!-- Footer -->
  <footer class="sticky-footer bg-white">
    <div class="container my-auto">
      <div class="copyright text-center my-auto">
        <span>Copyright &copy; UVA Solar Car 2019</span>
      </div>
    </div>
  </footer>
  <!-- End of Footer -->

  <!-- Page level plugins -->
{% endblock %}

</html>
