<!DOCTYPE html>
<html lang="en">
{% extends "sidebar.html" %}

{% block content %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Solar Car Telemetry</title>

  <!-- Custom fonts for this template-->
  <link href="/node_modules/startbootstrap-sb-admin-2/vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
    type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{{ url_for('static', filename='css/sb-admin-2.css') }}" rel="stylesheet">


</head>

<!-- Main Content -->
<div id="content">

  <!-- Topbar -->
  <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <img src="{{ url_for('static', filename='images/SolarCarTeamLogo.png') }}" height=80% />



  </nav>
  <!-- End of Topbar -->
  <!-- Begin Page Content -->
  <div class="container-fluid">
+
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Telemetry Dashboard</h1>
    </div>
    <!-- Content Row -->
    <div class="row">

        <!-- Approach -->
        <div class="col-xl-3 col-lg-3 mb-1 h-100 overflow-auto">
          <div class="card shadow mb-4 h-2 overflow-auto">
            <div class="card-header py-3 h-2">
              <h6 class="m-0 font-weight-bold text-primary">Load Run (Might wanna use a dropdown for this instead)</h6>
            </div>
            <div class="card-body">
              <div class="scroll">
                  {% for run in runs_list %}
                    <button class="run_btn btn btn-light" id='loadRun{{run.run_id}}'>{{ run.title }} </button>
                  {% endfor %}
                  <button class="run_btn btn btn-light" id='loadRunLive'>Load Live Run</button>
                </div>
              </div>
              <button type="submit" class="btn btn-primary mb-0" name='submit' value='start'>Start</button>
            </div>
          </div>

        <!-- Run Info Card -->
        <div class="col-xl-5 ml-1 mb-1">
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Run Info</h6>
            </div>
            <div class="card-body col">
              <div class="row h5 font-weight-bold text-gray-800">
                <label>Title: &emsp;&emsp;&emsp;&emsp;</label>
                <label>Placeholder Title</label>
              </div>
              <div class="row h5 font-weight-bold text-gray-800">
                <label>Driver: &nbsp;&emsp;&emsp;&emsp;</label>
                <label>Placeholder Driver</label>
              </div> 
              <div class="row h5 font-weight-bold text-gray-800">
                <label>Location: &nbsp;&emsp;&emsp;</label>
                <label>Placehoder Location</label>
              </div> 
              <div class="row h5 font-weight-bold text-gray-800">
                <label>Description: &emsp;</label>
                <label>Placeholder Description</label>
              </div> 
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->

  </div>
  <!-- End of Main Content -->

  <!-- Footer -->
  <footer class="sticky-footer bg-white" >
    <div class="container my-auto">
      <div class="copyright text-center my-auto">
        <span>Copyright &copy; UVA Solar Car 2019</span>
      </div>
    </div>
  </footer>
  <!-- End of Footer -->

  <!-- Page level plugins -->
  <script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/soc-chart.js') }}"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
  <script src="{{ url_for('static', filename='js/helper.js') }}"></script>
  <script src="{{ url_for('static', filename='js/load.js') }}"></script>



{% endblock %}

</html>